{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.0/css/all.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'web/css/login.css' %}">
{% endblock %}


{% block content %}

{% load socialaccount %}

{% get_providers as socialaccount_providers %}
<!-- 
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
 -->

    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-4 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <div class="card1 pb-5">
                        <!-- <div class="row"> <img src="https://i.imgur.com/CXQmsmF.png" class="logo"> </div> -->
                        <div class="row px-3 justify-content-center mt-5 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card2 card border-0 px-4 py-5">
                      <form class="password_reset" method="POST" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}
                        <div class="row px-3 mb-1">
                            {% if user.is_authenticated %}
                            <h6>
                                You are already logged in as <a href="{% url 'Home'%}">{{request.user.username}}</a>
                            </h6>
                            {% endif %}
                        </div>
                        <div class="row px-3 mb-4">

                            <h4 class="d-block text-center">Password reset</h4>
                            <small class="">Forgotten your password? Enter your e-mail address below, and we'll send you an E   -mail allowing you to reset it.</small>
                        
                           
                        </div>
                        <div class="row px-3"> <label class="mb-1" for="id_email">
                                <h6 class="mb-0 text-sm">Email:</h6>
                            </label> <input class="mb-4" type="email" name="email"  id="id_email" placeholder="E-mail address" autocomplete="email" >
                        </div>
                        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Reset</button> </div>
                        <div class="row px-3 mb-4">
                            <small class="">Please contact us if you have any trouble resetting your password.</small>                         
                        </div>
                      </form>
                      </div>
                </div>
            </div>
            <div class="footer bg-blue py-4">
                <div class="row px-3"> <small class="ft-text ml-4 ml-sm-5 mb-2">Copyright © 2019. All rights reserved.</small>
                    </div>
            </div>
            <script>
              const dt = new Date();
              const year = dt.getFullYear();
              const ft = document.querySelector('.ft-text');
              ft.innerHTML = `Copyright © ${year}. All rights reserved. This project is developed by Ritik Jaiswal`;
            </script>
        </div>
      </div>
{% endblock %}

