{% extends 'blogs/basic.html' %}

{% block extrahead %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <style>
        .tox-tinymce{
            width: 100vw !important;
            height: 80vh !important;
        }
    </style>
    <script>
        tinymce.init({
        selector: '#mytextarea',
        // width: 100,
        // height: 300,
        plugins: [
            'advlist autolink link image lists charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks code fullscreen insertdatetime media nonbreaking',
            'table emoticons template paste help'
        ],
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | link image | print preview media fullpage | ' +
            'forecolor backcolor emoticons | help',
        menu: {
            favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
        },
        menubar: 'favs file edit view insert format tools table help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });
    </script>
{% endblock %}
{% block body%}
    <form method="post">
    <textarea id="mytextarea" style="height: 200px; width: 200px;">Hello, World!</textarea>
  </form>
  <div id="recievedHtml"></div>
  <button id="getHtml">Get HTML</button>
  <script>
      getHtml.addEventListener('click',()=>{
        console.log("Working");
        recievedHtml.innerHTML = tinyMCE.get('mytextarea').getContent();
      });
  </script>
{% endblock%}