{% extends 'web/basic.html' %}

{% block body%}
<div class="container">
    <div class="row my-4">
        <div class="col-md-9">
            <div class="p-3 shadow-lg mb-4">
                <h3>Arrays</h3>
                <h5 class="fw-normal"><span>Basics of Arrays</span> <span class="text-muted fs-6">27 April, 2020</span></h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facilis perspiciatis assumenda dicta sed, officiis quasi deleniti consequatur, rerum, exercitationem eligendi numquam delectus omnis quam dolorem dolorum nesciunt maiores eum!</p>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-outline-secondary">READ MORE »</button>
                    <button class="btn text-end">Comments <span class="badge bg-dark rounded-pill">2</span></button>
                </div>
            </div>
            <div class="p-3 shadow-lg mb-4">
                <h3>Dynamic Programming</h3>
                <h5 class="fw-normal"><span>Example Questions of Dynamic Programming</span> <span class="text-muted fs-6">31 April, 2020</span></h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facilis perspiciatis assumenda dicta sed, officiis quasi deleniti consequatur, rerum, exercitationem eligendi numquam delectus omnis quam dolorem dolorum nesciunt maiores eum!</p>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-outline-secondary">READ MORE »</button>
                    <button class="btn text-end">Comments <span class="badge bg-dark rounded-pill">2</span></button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="p-3 shadow-lg">
                <h3>Title Heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facilis perspiciatis assumenda dicta sed, officiis quasi deleniti consequatur, rerum, exercitationem eligendi numquam delectus omnis quam dolorem dolorum nesciunt maiores eum!</p>
                <button class="btn btn-outline-secondary">READ MORE »</button>
            </div>
            <div class="mt-3 shadow-lg list-group">
                <li class="list-group-item list-group-item-secondary">Popular Posts</li>
                <a href="#" class=" list-group-item list-group-item-action list-group-item-light">Arrays</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-light">Hash Maps </a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-light">Dynamic Programming</a>
            </div>
        </div>
    </div>
</div>
{% endblock%}