{% extends 'web/basic.html' %}

{% block body%}
{% load humanize %}
{% load static %}
{% load extras %}
<div class="container">
    <div class="row my-4">
        <div class="col-lg-9">
            <div class="p-3 shadow-lg mb-4">
                <div class="p-3">
                    <h3>{{blog.title}}</h3>
                        <h6 class="fw-normal">
                            <!-- <span>Basics of Arrays</span> -->
                            <span>
                                By 
                                <a href="{% url 'view_profile' blog.author %}" class="text-decoration-none text-dark blogauthor">{{blog.author}}</a>
                            </span>
                            <span class="text-muted fs-6">| {{blog.timeStamp.date}}</span>
                        </h6>
                    <p>{{blog.content | safe}}</p>
                    <div class="text-start border-bottom">
                        <div class="mb-0 px-3 text-muted"><span id="likescnt">{{ blog.likes.count }}</span> Likes | <span id="commentcnt">{{comments.count}}</span> Comments </div>
                    </div>
                </div>
                <div class="">
                    <!-- <button class="btn text-end">Comments <span class="badge bg-dark rounded-pill">2</span></button> -->
                    
                    <div class="d-flex justify-content-between px-3">
                        <div>
                            {% if request.user.is_authenticated %}
                                <input type="hidden" name="blogSno" id="bsno" value={{blog.sno}}>
                                {% if liked %}
                                <button class="btn p-0" id="likebtn"><i id="likeicn" class="fas fa-thumbs-up fs-4"></i>
                                {% else %}
                                <button class="btn p-0" id="likebtn"><i id="likeicn" class="far fa-thumbs-up fs-4"></i>
                                {% endif %}
                                Like
                                </button>
                            {% endif %}
                        </div>
                        <div>
                            <button class="btn text-end" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseComments" aria-expanded="false" aria-controls="collapseComments">
                                <h6> Comments <span class="badge bg-dark rounded-pill">{{comments.count}}</span></h6>
                            </button>
                        </div>

                    </div>
                    <div class="collapse show mt-3" id="collapseComments">
                        <div class="card card-body">
                            {% for comment in comments %}
                            <div class="my-1 mx-2">
                                <div class="">
                                    <b><a href="/users/{{comment.user.username}}" class="text-decoration-none text-dark">{{comment.user.username}}</a></b>
                                   
                                    {% if comment.user|stringformat:"s" == blog.author|stringformat:"s" %}
                                    <span class="badge bg-secondary">
                                        Author</span>
                                    {% endif %}
                                    <span class="badge bg-secondary">
                                        {{comment.timestamp| naturaltime}} </span>
                                    <div class="my-1"> {{comment.comment}} </div>
                                </div>
                                <div class="replies ms-5 ">
                                    {% for reply in replyDict|get_val:comment.sno %}
                                        <div class="">
                                            <div class="">
                                                <b><a href="/users/{{reply.user.username}}" class="text-decoration-none text-dark">{{reply.user.username}}</a></b><span class="badge bg-secondary ms-2">
                                                    {{reply.timestamp| naturaltime}}</span>
                                            <div>{{reply.comment}}</div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="row">
                                        <div class="px-0">
                                            <!-- <button class="btn btn-outline-primary btn-sm w-50" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseReply{{comment.sno}}"
                                                aria-expanded="false" aria-controls="collapseReply{{comment.sno}}">
                                                Reply
                                            </button> -->
                                            <a class="btn-sm w-50" href="">{{comment.timestamp.date}}</a>
                                            {% if request.user.is_authenticated %}
                                            <a class="btn-sm w-50" data-bs-toggle="collapse" href="#collapseReply{{comment.sno}}" role="button" aria-expanded="false" aria-controls="collapseReply{{comment.sno}}">
                                                Reply
                                            </a>
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                    {% if request.user.is_authenticated %}
                                    <div class="collapse" id="collapseReply{{comment.sno}}">
                                        <div class="card card-body my-3">
                                            <form action="/blogs/postComment" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="comment">Post a reply </label>
                                                    <input type="text" class="form-control" name="comment" placeholder="Enter reply here">
                                                    <input type="hidden" name="parentSno" value="{{comment.sno}}">
                                                </div>
                                                <input type="hidden" name="postSno" value="{{blog.sno}}">
                                                <button type="submit" class="btn btn-primary mt-2 btn-sm">Post</button>
                                            </form>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                            {% if request.user.is_authenticated %}
                            <form action="/blogs/postComment" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <h4><label for="comment">Leave a reply</label></h4>
                                    <input type="text" class="form-control" name="comment"
                                        placeholder="Enter comment here">
                                </div>
                                <input type="hidden" name="postSno" value="{{blog.sno}}">
                                <button type="submit" class="btn btn-primary mt-2">Submit</button>
                            </form>
                            {% else %}
                            <div class="mt-3">
                                <span class="fw-bold">You Must <a href="{% url 'account_login' %}">Login</a> to Comment/Reply</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="p-3 shadow-lg">
                <h3>{{popularposts.0.title}}</h3>
                <div class="preview">{{popularposts.0.content|safe|truncatechars:300}}</div>
                <a href="/blogs/{{popularposts.0.slug}}" class="btn btn-outline-secondary">READ MORE »</a>
            </div>
            <div class="mt-3 shadow-lg list-group">
                <li class="list-group-item list-group-item-secondary">Popular Posts</li>
                <a href="/blogs/{{popularposts.1.slug}}" class=" list-group-item list-group-item-action list-group-item-light">{{popularposts.1.title}}</a>
                <a href="/blogs/{{popularposts.2.slug}}" class="list-group-item list-group-item-action list-group-item-light">{{popularposts.2.title}}</a>
                <a href="/blogs/{{popularposts.3.slug}}" class="list-group-item list-group-item-action list-group-item-light">{{popularposts.3.title}}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script src="{% static 'blogs/js/removehtml.js' %}"></script>
<script>
    window.addEventListener('DOMContentLoaded',()=>{

        // Mananging Likes
        const likebtn = document.querySelector('#likebtn');
        const likeicn = document.querySelector('#likeicn');
        const likescnt = document.querySelector('#likescnt');
        let currentlikes = parseInt(likescnt.innerHTML);
        likebtn.addEventListener('click',()=>{
            likebtn.disabled = true;
            if(likebtn.firstChild.classList.contains('far')){
                fetch("/blogs/likeunlike", {
                    body: JSON.stringify({ blno: {{blog.sno}} }),
                    method: "POST",
                })
                .then((res) => res.json())
                .then((data) => {
                        likeicn.classList.remove('far');
                        likeicn.classList.add('fas');
                        currentlikes++;
                        likescnt.innerHTML = currentlikes.toString();
                    });
                }
                else{
                    fetch("/blogs/likeunlike", {
                        body: JSON.stringify({ blno: {{blog.sno}} }),
                        method: "POST",
                    })
                    .then((res) => res.json())
                    .then((data) => {			
                        likeicn.classList.add('far');
                        likeicn.classList.remove('fas');
                        currentlikes--;
                        likescnt.innerHTML = currentlikes.toString();
                    });
                }
                likebtn.disabled = false;
        });


        
    });
</script>
{% endblock%}
