{% extends "web/basic.html" %}
{% load static %}

{% block title%}Profile{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'web/css/profile.css' %}">
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock %}


{% block body %}

<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
<div class="container my-4">
	<div class="row ">
		<div class="col col-lg-auto mb-3" style="width: 200px;">
			<div class="card p-3">
				<div class="e-navlist e-navlist--active-bg">
					<ul class="nav">
						<li class="nav-item"><a class="nav-link px-2 active" href="#"><i
									class="fa fa-fw fa-bar-chart me-1"></i><span>Overview</span></a></li>
						<li class="nav-item"><a class="nav-link px-2"
								href="https://www.bootdey.com/snippets/view/bs4-crud-users" target="__blank"><i
									class="fa fa-fw fa-th me-1"></i><span>CRUD</span></a></li>
						<li class="nav-item"><a class="nav-link px-2"
								href="https://www.bootdey.com/snippets/view/bs4-edit-profile-page" target="__blank"><i
									class="fa fa-fw fa-cog me-1"></i><span>Settings</span></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-12 col-lg-9">
			<div class="row">
				<div class="col mb-3">
					<div class="card">
						<div class="card-body">
							<div class="e-profile">
								<div class="row">
									<div class="col-12 col-sm-auto mb-3">
										<div class="mx-auto" style="width: 140px;">
											<div class="userimage d-flex justify-content-center align-items-center rounded"
												style="height: 140px; background-color: rgb(233, 236, 239);">
												<!-- <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span> -->
												{% if dp_exists %}
												<img src="/media/{{cuser.email}}_pic.jpeg" alt="">
												{% else %}
												<img src="{% static 'web/imgs/user.jpg' %}" alt="">
												{% endif %}
											</div>
										</div>
									</div>
									<div class="col justify-content-between mb-3">
										<div class="row">
											<div class="text-center text-sm-left mb-2 mb-sm-0 col-6">
												<h4 class="pt-sm-2 pb-1 mb-0 text-nowrap text-start">
													{{cuser.first_name}} {{cuser.last_name}}</h4>
												<p class="mb-0 text-start">@{{cuser.username}}</p>
												<!-- <div class="text-muted"><small>Last seen 2 hours ago</small></div> -->
												<div class="mt-2">
													<div class="collapse">
														<form action="{% url 'upload_img' %}" method="POST"
															enctype="multipart/form-data">
															{% csrf_token %}
															<input type="file" name="new_image" id="new_image"
																class="btn text-start ps-0 d-block" value=""
																accept="image/*">
															<div class="text-start">
																<button type="submit"
																	class="btn btn-outline-success text-start upload-btn">Upload</button>
																<button type="button"
																	class="upload-toggle-back btn btn-outline-danger text-start">Cancel</button>
															</div>
														</form>
													</div>
												</div>
											</div>
											<div class="text-end col-6">
												<span class="badge badge-secondary text-dark">
													{% if cuser.is_superuser %}
													Administrator
													{% else %}
													User
													{% endif %}
												</span>
												<div class="text-muted"><small>{{ cuser.date_joined.date }}</small>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-4">
										Email : 
									</div>
									<div class="col">
										{{cuser.email}}
									</div>
								</div>
								{% if cuser.userinfo.about != "" %}
								<div class="row mt-2">
									<div class="col-4">
										About : 
									</div>
									<div class="col">
										{{cuser.userinfo.about}}
									</div>
								</div>
								{% endif %}
								{% if cuser.userinfo.linkedin != "" %}
								<div class="row mt-2">
									<div class="col-4">
										LinkedIn :
									</div>
									<div class="col">
										<a href="{{cuser.userinfo.linkedin}}" target="_blank">
											{{cuser.userinfo.linkedin}}
										</a>
									</div>
								</div>
								{% endif %}
								<div class="row mt-2">
									<div class="col-4 text-wrap">
										Student / Professional:
									</div>
									<div class="col">
										{{cuser.userinfo.storprof}}
									</div>
								</div>
								{% if cuser.userinfo.storprof != "Other" %}
								<div class="row mt-2">
									<div class="col-4 text-wrap">
										Institution :
									</div>
									<div class="col">
										{{cuser.userinfo.where_do_you_work}}
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-4 text-wrap">
										Graduation Year :
									</div>
									<div class="col">
										{{cuser.userinfo.graduation_year}}
									</div>
								</div>
								
								{% endif %}
								
								
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-3 mb-3">
					<div class="card mb-3">
						<div class="card-body">
							<div class="px-xl-3">
								<a href="{% url 'account_logout' %}" class="btn btn-block btn-secondary">
									<i class="fa fa-sign-out"></i>
									<span>Logout</span>
								</a>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h6 class="card-title font-weight-bold">Support</h6>
							<p class="card-text">Get fast, free help from our friendly assistants.</p>
							<button type="button" class="btn btn-primary">Contact Us</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script src="{% static 'web/js/check_username_availability.js'%}"></script>
<script>
	const uploadToggle = document.querySelector('.upload-toggle');
	const uploadToggleBack = document.querySelector('.upload-toggle-back');
	const n1 = uploadToggle.parentElement;
	const n2 = uploadToggleBack.parentElement.parentElement.parentElement;
	uploadToggle.addEventListener('click', () => {
		n2.classList.remove('collapse');
		n1.classList.add('collapse');
	});
	uploadToggleBack.addEventListener('click', () => {
		n1.classList.remove('collapse');
		n2.classList.add('collapse');
	});

	const usernameField = document.querySelector('#username');
	const unameCheck = document.querySelector('.username-check');
	usernameField.addEventListener('keyup', (e) => {
		// console.log("This");
		const usernameVal = e.currentTarget.value;
		if (usernameVal.length > 0) {
			fetch("/accounts/check_username_availability", {
				body: JSON.stringify({ username: usernameVal }),
				method: "POST",
			})
				.then((res) => res.json())
				.then((data) => {
					console.log("data", data);
					if ((data.username_available && usernameVal.length >= 4) || usernameVal == `{{request.user.username}}`) {
						unameCheck.innerHTML = `Available <i class="far fa-check-circle"></i>`;
					}
					else {
						unameCheck.innerHTML = `Unavailable <i class="far fa-times-circle"></i>`;
					}
				});
		}
	});


</script>
{% endblock %}